*,
*::after,
*::before {
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
  font-size: 16px;
}
body {
  margin: 0;
}
h1,
h2 {
  text-align: center;
}
header {
  padding: 30px 0;
  background-color: aliceblue;
}
